__pycache__/
*.pyc
.venv/
data/
weights/
runs/
*.pth
*.pt
*.zip
*.tar.gz
.uv_cache/
.tmp/
third_party/
.torch/
train_vintext_real/
valid_vintext_real/
train_vintext_real_s*/
valid_vintext_real_s*/
train_*/
valid_*/
.hf_cache/
runs/
.torch/
